<div class="px-4 py-3 my-3 text-center">
    <h1 class="display-5 fw-bold">Rock-Paper-Scissors</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Click on one of the buttons to play against the computer.</p>
    </div>
</div>

<div class="b-divider"></div>
<frontend-play-error></frontend-play-error>

<div class="container mt-4">
    <frontend-actions></frontend-actions>
    <frontend-last-result></frontend-last-result>
    <frontend-result-statistics></frontend-result-statistics>
</div>

